<?xml version="1.0" encoding="UTF-8"?>
<RightsDeclarationMD RIGHTSCATEGORY="COPYRIGHTED" xmlns="http://cosimo.stanford.edu/sdr/metsrights/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://cosimo.stanford.edu/sdr/metsrights/ http://cosimo.stanford.edu/sdr/metsrights.xsd">
    <RightsDeclaration>&quot;This material is protected by copyright. NYU Press has granted NYU Libraries non-exclusive rights to include this material in their digital collection and to make it accessible for educational and research purposes. The contents may not be copied, downloaded, sold, or reproduced without permission. Requests to purchase or for permission to use the work should be directed to NYU Press [at contact information, provided below].&quot;</RightsDeclaration>
    <RightsHolder>
        <RightsHolderName>New York University Press</RightsHolderName>
        <RightsHolderContact>
            <RightsHolderContactDesignation>New York University Press</RightsHolderContactDesignation>
            <RightsHolderContactAddress>838 Broadway</RightsHolderContactAddress>
            <RightsHolderContactAddress>3rd Floor</RightsHolderContactAddress>
            <RightsHolderContactAddress>New York, NY 10003-4812</RightsHolderContactAddress>
            <RightsHolderContactPhone PHONETYPE="BUSINESS">212.998.2575</RightsHolderContactPhone>
            <RightsHolderContactPhone PHONETYPE="FAX">212.995.3833</RightsHolderContactPhone>
        </RightsHolderContact>
        <RightsHolderContact>
            <RightsHolderContactDesignation>information@nyupress.org</RightsHolderContactDesignation>
            <RightsHolderContactAddress>http://nyupress.org</RightsHolderContactAddress>
        </RightsHolderContact>
    </RightsHolder>
</RightsDeclarationMD>
